<nav class="nav">
    <a href="#" class="brand fs-600 color-neutral-100">Christopher</a>
    <a href="#" class="nav-menu" aria-label="Menu button" id="nav-button">
        <span class="icon-container">
            <svg class="icon">
                <use id="nav-menu-icon" xlink:href="./assets/icon-utility.svg#icon-burger"></use>
            </svg>
        </span>
    </a>
    
    <ul class="nav-list">
        <li><a href="#" class="nav-link">About</a></li>
        <li><a href="#" class="nav-link">Projects</a></li>
        <li><a href="#" class="nav-link">Services</a></li>
        <li><a href="#" class="nav-link">dev.christopherii@gmail.com</a></li>
    </ul>
</nav>